# Các file build của Gradle
.gradle/
build/
/*/build/

# Các file cấu hình của Android Studio và IntelliJ
.idea/
*.iml
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Các file tạm và log hệ thống
local.properties
.DS_Store
captures/
.externalNativeBuild
.cxx/
*.swp
*~

# File máy ảo (nếu bạn có lưu trong folder dự án)
*.hprof

# Cấu hình Firebase (nếu dự án của bạn có dùng)
google-services.json
# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
*.local
# Các loại file khác
#.github/
PLAN.md
doanchatcli.txt
/MaNguon/docs/ 
.cursor/ 
bang-doi-chieu-chuc-nang.md 
UI_UIX_Hidden_Bugs_Audit.md