# Các file build của Gradle
.gradle/
build/
/*/build/

# Các file cấu hình của Android Studio và IntelliJ
.idea/
*.iml
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Các file tạm và log hệ thống
local.properties
.DS_Store
captures/
.externalNativeBuild
.cxx/
*.swp
*~

# File máy ảo (nếu bạn có lưu trong folder dự án)
*.hprof

# Cấu hình Firebase (nếu dự án của bạn có dùng)
google-services.json
# Các loại file khác
docs/
.github/
PLAN.md
